<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="" value=""/>
    </properties>

    <settings>
        <!--    select默认开启一级缓存，分布式下容易产生脏数据，设置localCacheScope=STATEMENT 关闭一级缓存-->
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>

    <typeAliases>
        <typeAlias type=""/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler=""/>
    </typeHandlers>

    <objectFactory type="">
        <property name="" value=""/>
    </objectFactory>

    <plugins>
        <plugin interceptor=""/>
    </plugins>

    <environments default="">
        <environment id="">
            <transactionManager type=""/>
            <dataSource type=""/>
        </environment>
    </environments>

    <mappers>
        <mapper resource=""/>
    </mappers>

</configuration>